#!/bin/bash

alias send-files='rsync --delete-after --delete-excluded --progress -zr'

function disk-usage(){
    du -hs $@ | sort -h
}

function replace-all() {
    echo $(grep -nrI $2)
    find . -type f -name "*.$1" -exec sed -i "s/$2/$3/g" {} \;
    echo $(grep -nrI $3)
}

alias ssh-rosenpin="ssh $WEBSITE"

function deploy-rosenpin.io() {
    website_project_path="$GOSRC/gitlab.com/rosenpin/rosenpin.io"
    echo "killing server.."
    container_id=$(ssh-rosenpin "docker ps | grep rosenpin.io | cut -d' ' -f1")
	echo $container_id
    ssh-rosenpin "docker stop $container_id"
    echo "building docker image.."
    (cd $website_project_path && ./build | return 1) 
    echo "pushing files.."
    send-rosenpin.io $website_project_path/rosenpin.tar.gz rosenpin.tar.gz 
    echo "pushing configs.."
    send-rosenpin.io $website_project_path/configs . 
    echo "pushing resources.."
    send-rosenpin.io $website_project_path/resources . 
    echo "running server.."
    ssh-rosenpin "run-website"
    echo "Done!"
}

function terminal-name() {
    ps -o comm= -p "$(($(ps -o ppid= -p "$(($(ps -o sid= -p "$$")))")))"
}

function send-rosenpin.io() {
    if [ -z $1 ] | [ -z $2 ]; then
        echo "must specify source and dest files"
        return
    fi

    send-files $1 $WEBSITE:~/$2
}
